* {
  margin: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dashed;
  width: 500px;
  height: 250px;
}
